[submodule "tesla-vehicle-command"]
	path = tesla-vehicle-command
	url = https://github.com/teslamotors/vehicle-command.git
[submodule "x-algorithm"]
	path = x-algorithm
	url = https://github.com/twitter/the-algorithm.git
[submodule "xai-grok"]
	path = xai-grok
	url = https://github.com/xai-org/grok-1.git
[submodule "neuralink-datarepo"]
	path = neuralink-datarepo
	url = https://github.com/neuralinkcorp/datarepo.git
[submodule "open-source-rusija/sber-kandinsky"]
	path = open-source-rusija/sber-kandinsky
	url = https://github.com/ai-forever/Kandinsky-3.git
